@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


@import 'header';
@import 'top';
@import 'categories';
@import 'about';
@import 'question';
@import 'footer';





@font-face {
    font-family: 'ProximaNovaBg';
    src: 
        url('../../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: 
         url('../../fonts/ProximaNova-Bold.woff2') format('woff2'),
         url('../../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
   
}